# Object file
*.o

# Ada Library Information
*.ali

.DS_Store

.ipynb_checkpoints/

data/phishIRIS_DL_Dataset.zip

datasets_for_project/

data/

__MACOSX/

datasets_for_project.zip

dataset_20_screens/

geckodriver.log

dataset_20_new_features.csv

dataset_22_mal_new_features.csv

addon_features/dataset_24_malicious_new_features.csv
